/* MEDIA CALENDARIO */
/* @media (max-width: 870px) {
    .container-squadra .container-img {
        max-width: 50px;
    }

    #calendario .serieb img {
        max-width: 25px;
    }

    .container-squadra {
        margin: 20px 10px;
    }
} */

/* @media (max-width: 1200px) {
    header {
        padding: 0px 40px;
    }

    .navbar-top {
        justify-content: left;
        gap: 30px;
    }

    .navbar-menu {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        transition: right 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 100px 40px;
        z-index: 200;
        background-color: #012589e4;
        backdrop-filter: blur(14px);
        transition: right 0.8s ease;
        overflow: auto;
    }

    .menu a {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 16px 0;
        font-weight: bold;
    }

    #menu-link-contact {
        background-color: var(--color2);
        text-align: center;
        color: var(--color1);
        border-radius: 10px;
    }
} */

/* @media (max-width: 900px) {
    .navbar-title {
        display: none;
    }

    .navbar-subtitle {
        display: none;
    }

    #logo-dx {
        display: none;
    }

    .navbar-top img {
        height: 60px;
    }
} */

/* MEDIA HOME */
/* @media (min-width: 1350px) {
    .container-partite {
        grid-template-columns: 1fr;
    }

    #art-4 {
        display: block;
    }
} */

/* @media (max-width: 860px) {
    .container-classifica-risultati {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .logo {
        width: 40px;
    }

    .container-partite {
        gap: 30px;
    }

    table {
        width: 100%;
        height: auto;
    }

    .title-serie-b {
        font-size: 1.7rem;
    }

    .title-serie-b span {
        font-size: 1.7rem;
    }

    .title-articoli {
        font-size: 1.7rem;
    }

    .article-corpo h3 {
        font-size: 1.3rem;
    }

    .hero .titolo {
        font-size: 2.4rem;
    }

    .view-all a {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
} */

/* @media (max-width: 500px) {
    .logo-classifica {
        width: 25px;
    }

    .squadre {
        gap: 5px;
    }

    .squadre span {
        font-size: 0.8rem;
    }

    .container-partite {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .hero .titolo {
        font-size: 2.2rem;
    }

    .cta-btn {
        padding: 4px 10px;
        font-size: 0.9rem;
    }

    .title-serie-b span {
        display: none;
    }
} */

/* MEDIA HOME */
/* @media (max-width: 768px) {

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-btn {
        font-size: 0.9rem;
        padding: 10px 20px;
    }

} */

/* MEDIA SPONSOR */
/* @media (max-width: 600px) {

    .layout-container h3 {
        font-size: 1.6rem;
    }

    .contact-link {
        padding: 10px 12px;
        font-size: 0.9rem;
    }
} */

/* SMEDIA SCUOLA CALCIO */
/* @media (max-width: 700px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .dream {
        gap: 20px;
        width: 100%;
    }

    .content-scuola h3,
    #pre-img {
        font-size: 1.4rem;
    }

    .content-scuola h3 span {
        display: none;
    }

    .contact-link {
        padding: 10px 12px;
        font-size: 0.9rem;
    }

    .container .box .dream img {
        filter: none;
    }
} */

/* MEDIA INTERRUZIONE */
/* @media (max-width: 600px) {
    .interruzione .text {
        font-size: 1.9rem;
        letter-spacing: 1px;
    }
} */

/* MEDIA CATEGORIE */
/* @media (max-width: 1200px) {
    .container-categorie {
        width: 100%;
    }
} */

/* @media (max-width: 750px) {
    .categorie {
        flex-direction: column;
        gap: 5px;
    }

    .categorie .container-img {
        width: 90px;
        height: auto;
        margin: 0 auto;
    }

    .content-categorie h3 {
        font-size: 1.3rem;
    }

    .tuttocampo a {
        font-size: 0.8rem;
        padding: 5px 8px;
    }

} */


/* MEDIA STRUTTURE */
/* @media (max-width: 1200px) {
    .container-strutture {
        width: 100%;
    }

    .content h3 {
        font-size: 1.3rem;
    }

    .maps a {
        font-size: 0.8rem;
        padding: 6px 10px;
    }

} */

/* @media (max-width: 900px) {
    .container-strutture .tab {
        flex-direction: column;
    }

    .tab .container-img {
        width: 80%;
    }
} */

/* @media (max-width: 500px) {
    .container-strutture {
        padding: 0;
    }

    .container-strutture .tab {
        flex-direction: column;
        gap: 5px;
    }

    .tab .container-img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
    }

    .content {
        padding: 14px;
    }

    p {
        font-size: 0.9rem;
    }

    .p-bold {
        font-size: 0.9rem;
    }
} */

/* MEDIA STORIA */
/* @media (max-width: 1200px) {
    .storia-text h2 {
        font-size: 1.6rem;
    }

    .storia-image img {
        width: 350px;
    }
} */

/* @media (max-width: 920px) {
    .storia-block {
        flex-direction: column;
        align-items: center;
    }

    .storia-block.reverse {
        flex-direction: column;
    }

    .storia-image {
        margin-top: 10px;
    }

    .storia-image img {
        width: 100%;
    }

    .storia-text {
        margin-top: 20px;
    }

} */


/* MEDIA SCUOLA */
/* 
@media (max-width: 780px) {
    .layout-grid {
        display: none;
    }

    .layout-carousel {
        display: block;
    }
} */


/* MEDIA FOOTER */
