@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&display=swap');

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --color1: #012589;
    --color2: #fcdf00;
    --color3: #eee3e3;
    --color4: #fff;
    --hover-color: #0336c3;
    font-family: 'poppins', sans-serif;
    font-display: swap;
}


h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
    font-family: "Black Ops One", system-ui;
}

h3 {
    font-size: 1.5rem;
    font-family: "Black Ops One", system-ui;
    letter-spacing: 1.2px;
    color: var(--color1);
}

p {
    color: #535353;
    font-size: 1rem;
    line-height: 1.2;
}

.p-bold {
    font-weight: bold;
    color: #535353;
    font-size: 1rem;
}

.arrow-up {
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: transparent;
    padding: 4px;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #272323d2;
    color: var(--color4);
    transition: all .3s;
}

.arrow-up:hover {
    background-color: #fcdf00e1;
    color: #333;
}

/* Colore per il link attivo */
.navbar a.active {
    color: var(--color2);
}

/*  ----------------------------------------------------- HEADER ------------------------------------ */
header {
    background-color: transparent;
    background-color: #081a4b;
    padding: 2px 40px;
    position: fixed;
    z-index: 10000;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 100%;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 
.navbar::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    backdrop-filter: blur(25px);
    top: 0;
    left: 0;
    z-index: -1;
} */

.navbar a {
    margin: 0 10px;
    font-size: 1.1rem;
    color: var(--color4);
    transition: color .3s;
}

.navbar a:hover {
    color: var(--color2);
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

/* Icone Hamburger e X */
.nav-toggle {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 1.8rem;
    display: none;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    position: absolute;
    top: 34px;
    right: 16px;
    font-size: 2.3rem;
    cursor: pointer;
}

/* Checkbox */
#check {
    display: none;
}

.menu hr {
    width: 90%;
    margin-left: 10px;
    border: none;
    height: 2px;
    background-color: #717171;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
}

.menu-links a {
    color: var(--color4);
    font-size: 1.2rem;
}

.menu-links a:hover {
    color: var(--color2);
}

/* Mostra la barra laterale quando il checkbox è attivo */
#check:checked~.menu {
    right: 0;
}

.menu {
    display: none;
}

/* MEDIA HEADER */
@media (max-width: 1000px) {

    header {
        padding: 5px 40px;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar-center {
        justify-content: flex-start;
        margin-left: -10px;
    }

    .navbar-left,
    .navbar-right {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .logo {
        width: 42px;
        height: 42px;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 84%;
        height: 100vh;
        background-color: var(--color1);
        transition: right 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        z-index: 200;
        background-color: #000000d5;
        backdrop-filter: blur(14px);
    }

}

/* ----------------------------------------------- HOME ---------------------------------- */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("images/img-home.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color4);
}

/* Overlay per scurire lo sfondo */
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* Contenuto */
.hero .content {
    z-index: 2;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .titolo {
    font-size: 3.3rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Black Ops One", system-ui;
    color: var(--color2);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #f0f0f0;
}

.cta-btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--color1);
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: var(--hover-color)
}

/* MEDIA HOME */
@media (max-width: 768px) {

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-btn {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}

/* PROSSIME PARTITE */
#match {
    background-color: var(--color3);
}

.wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
}

.card {
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 100%;
    height: 600px;
    background-color: rgb(205, 190, 190);
    text-align: center;
}

.card h2 {
    text-align: center;
}

.serieb {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

.serieb img {
    width: 100%;
    height: 100%;
}

.container-incontro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.container-squadra .container-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.container-squadra .container-img img {
    width: 100%;
    height: 100%;
}

.container-squadra {
    text-align: center;
}

.container-squadra span {
    font-size: 1.1rem;
}

.container-versus {
    font-size: 4rem;
    font-family: "PT Serif", serif;
}

.data {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* ----------------------------------------------- STRUTTURE ----------------------------------------------- */
#strutture {
    padding: 70px 40px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: var(--color3);
}

.container-strutture {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    background-color: var(--color4);
    border-radius: 10px;
    margin-bottom: 40px;
    transition: all .3s;
}

.container-strutture:hover {
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.8);
}

.tab {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.tab .container-img {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.tab .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease .3s;
}

.tab .container-img img:hover {
    transform: scale(1.05);
}

.content {
    flex: 1;
}

.content h3 {
    /* color: #444444; */
    font-weight: bold;
    margin-bottom: 6px;
}

.maps {
    text-align: left;
    margin-top: 10px;
    width: 100%;
}

.maps hr {
    border: none;
    border-top: 1px solid #a7a7a7;
    width: 100%;
    margin-bottom: 14px;
}

.maps a {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color1);
    border-radius: 5px;
    padding: 6px 10px;
    transition: ease .3s;
}

.maps a:hover {
    background-color: var(--hover-color);
}

/* MEDIA STRUTTURE */
@media (max-width: 750px) {
    .tab {
        flex-direction: column;
    }

    .container-img {
        width: 100%;
    }

    .maps a {
        font-size: 0.9rem;
    }
}

/* ----------------------------------------------- SPONSOR ----------------------------------------------- */
#sponsor {
    padding: 60px 40px;
    background-color: var(--color3);
}

.layout-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.layout-container h3 {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.7rem;
}

.layout-container hr {
    margin-bottom: 12px;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.gallery {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    height: 150px;
    overflow: hidden;
    background-color: var(--color4);
    border-radius: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.45);
    padding: 10px;
    transition: all .3s;
}


.gallery-item:hover {
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.8);
}

#m-sponsor {
    min-height: 250px;
    max-height: 350px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ----------------------------------------------- CATEGORIE ----------------------------------------------- */
#categorie {
    padding: 70px 40px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: var(--color3);
}

#categorie h3 {
    text-align: left;
    margin-bottom: 5px;
}

.title-cat-p {
    color: #535353;
    font-size: 1.7rem;
    /* text-transform: uppercase; */
    font-family: "Black Ops One", system-ui;
    letter-spacing: 1.3px;
    font-weight: bolder;
}

#categorie hr {
    margin-bottom: 12px;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.container-categorie {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
    padding: 20px;
    width: 90%;
    background-color: var(--color4);
    border-radius: 10px;
    margin-bottom: 40px;
    transition: all .3s;
}

.container-categorie:hover {
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.8);
}

.categorie {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.categorie .container-img {
    width: 105px;
    height: auto;
}

.categorie .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease .3s;
}

.categorie .container-img img:hover {

    transform: scale(1.05);
}

.content-categorie {
    flex: 1;
}

.tuttocampo {
    text-align: left;
    width: 100%;
}

.tuttocampo hr {
    border: none;
    border-top: 1px solid #a7a7a7;
    width: 100%;
    margin: 4px 0;
}

.tuttocampo a {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color4);
    background-color: var(--color1);
    padding: 5px 10px;
    border-radius: 5px;
    transition: ease .3s;
}

.tuttocampo a:hover {
    background-color: var(--hover-color);
}

/* MEDIA CATEGORIE */
@media (max-width: 750px) {
    .categorie {
        flex-direction: column;
        gap: 5px;
    }

    .categorie .container-img {
        width: 100px;
        height: auto;
        margin: 0 auto;
    }

}

/* ----------------------------------------------- STORIA ----------------------------------------------- */
#storia {
    width: 100%;
    padding: 70px 40px;
    /* color: #333; */
    background-color: var(--color3);
}

.storia-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.storia-block {
    display: flex;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
}

.storia-image img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    transition: ease .4s;
}

.storia-image img:hover {
    /* transform: scale(1.05); */
    /* transform: perspective(500px) rotateY(15deg); */
    /* transform: scaleX(-1); */
    /* filter: blur(2px); */
    border-radius: 50%;
    /* transform: translateY(-10px) */
    /* filter: brightness(0.7); */
    /* filter: grayscale(0%); */
    /* transform: rotate(deg); */
}

.storia-text {
    flex: 1;
}

.storia-text h2 {
    color: var(--color1);
    font-size: 2rem;
    margin-bottom: 10px;
}

.storia-text p {
    font-size: 1rem;
    line-height: 1.5;
}

.storia-block.reverse {
    flex-direction: row-reverse;
}

/* MEDIA STORIA */
@media (max-width: 768px) {
    .storia-block {
        flex-direction: column;
        align-items: center;
    }

    .storia-block.reverse {
        flex-direction: column;
    }

    .storia-image img {
        width: 100%;
    }
}

/* ----------------------------------------------- SCUOLA CALCIO ----------------------------------------------- */
#scuolacalcio {
    padding: 60px 40px;
    background-color: var(--color3);
}

.layout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.image-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.layout-carousel {
    display: none;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    min-width: 100%;
    width: 260px;
    height: auto;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-dots {
    text-align: center;
    padding: 10px 0;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #a2a1a1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: var(--color1);
}

/* Media Query per Carousel */
@media (max-width: 780px) {
    .layout-grid {
        display: none;
    }

    .layout-carousel {
        display: block;
    }
}

.content-scuola hr {
    border: none;
    border-top: 2px solid #a7a7a7;
    width: 100%;
    margin-bottom: 8px;
}

.call-to-action {
    text-align: center;
    margin-top: 20px;
}

.contact-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--color1);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s;
}

.contact-link:hover {
    background-color: var(--hover-color);
}



/* .scuola-content .contattaci {
    color: #fff;
    border-radius: 5px;
    background-color: #005A94;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    transition: background-color 0.3s;
    gap: 8px;
}

.scuola-content .contattaci:hover {
    background-color: #083d75;
    transition: background-color 0.3s ease;
} */



/* ----------------------------------------------------- SFONDO BLU ---------------------------------- */
.interruzione {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* Allinea il testo in basso */
    font-size: 2.3rem;
    width: 100%;
    height: 130px;
    background-color: var(--color1);
    background-color: #081a4b;

    padding: 10px 48px;
    /* Margine interno su entrambi i lati */
}

.interruzione .text {
    color: var(--color2);
    font-family: "Black Ops One", system-ui;
    letter-spacing: 1.5px;

}

.custom-shape-divider-top-1731431830 {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1731431830 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
}

.custom-shape-divider-top-1731431830 .shape-fill {
    fill: var(--color1);
    fill: #081a4b;
}

/* ----------------------------------------------- CALENDARIO ----------------------------------------------- */

#calendario {
    padding: 80px 40px;
    /* max-width: 1200px; */
    background-color: var(--color3);
}

#calendario .container-calendario {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
}

#calendario .partita {
    background-color: var(--color4);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: all .3s;
}

#calendario .partita:hover {
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.8);
}

.partita.scaduto {
    background-color: #004ecb;
}


#calendario .serieb img {
    max-width: 45px;
    height: auto;
    /* background-color: #0044cc; */
}

#calendario .container-incontro {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 15px 0; */
}

#calendario .container-squadra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#calendario .container-squadra .container-img {
    max-width: 70px;
    height: auto;
}

#calendario .container-img img {
    width: 100%;
    height: 100%;
}

#calendario .container-versus {
    font-size: 1.5rem;
    font-weight: bold;
    color: #595959;
    padding: 0 10px;
    font-family: "PT Serif", serif;
}

#calendario .data {
    font-size: 1rem;
    color: #6f6f6f;
    padding-bottom: 10px;
}

/* --------------------------------------------- FOOTER ------------------------------------- */

.loghi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #081a4b;
    border-bottom: 1px solid var(--color3);
    padding: 14px 30px;
}

.loghi .container-logo {
    width: 50px;
    height: auto;
}

.loghi .container-logo img {
    width: 100%;
    height: 100%;
}

#serieb-logo-footer {
    width: 42px;
    height: auto;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: #081a4b;
}

.footer-section {
    border-right: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section:last-child {
    border-right: none;
}

.footer-section h3 {
    margin-bottom: 12px;
    color: var(--color2);
    /* font-style: italic; */
    font-size: 1.5rem;
}

/* Links Section */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-links li a {
    color: var(--color4);
    font-weight: normal;
}

.footer-links li a:hover {
    color: var(--color2);
    transition: color .3s ease;
}

.link-servizi {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* text-align: center; */
    gap: 60px;
}

.container-footer-left,
.container-footer-right {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.link-servizi li {
    display: flex;
    align-items: center;
}

.link-servizi li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color4);
}

.link-servizi li a:hover {
    transition: color .3s;
    color: var(--color2);
}

.container-social {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6px;
}

.container-social .link-social a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-social .link-social a i {
    font-size: 2.3rem;
    transition: color .3s;
    color: var(--color3);
}

.container-social .link-social a i:hover,
.container-social .link-social a:hover {
    color: var(--color2);
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    padding: 18px 0;
    border-top: 1px solid var(--color3);
    height: 50px;
    background-color: #081a4b;
}

.footer-gv {
    text-align: center;
    height: 22px;
    background-color: #081a4b;
}

.footer-gv p,
.footer-gv a {
    font-size: 0.9rem;
    color: #676767;
}

.footer-section p,
.footer-section a,
.footer-bottom p {
    color: var(--color4);
}

@media (max-width: 850px) {
    .container-footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section {
        border-right: none;
        border-bottom: 1px solid var(--color3);
        padding-bottom: 20px;
    }

    .footer-section:last-child {
        border-bottom: none;
    }

    .footer-section:first-child {
        border-left: none;
    }
}



#classifica {
    background-color: var(--color3);
    color: #333;
    padding: 60px 40px;
}

#classifica .title-serie-b,
.title-articoli {
    font-size: 2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Black Ops One", system-ui;
    color: var(--color1);
    text-align: center;
}

#classifica hr,
#articoli hr {
    margin-bottom: 16px;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.container-classifica-risultati {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

table {
    background-color: var(--color4);
    width: 700px;
    height: 640px;
    border-collapse: collapse;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: var(--color1);
    color: #fff;
    text-align: left;
}

thead th {
    padding: 10px;
}

tbody tr {
    text-align: center;
    border-bottom: 1px solid #bebebe;
    transition: ease .3s;
}

tbody td {
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}

/* Colori delle posizioni CSR*/
.prima {
    background-color: hsla(57, 100%, 56%, 0.691);
}

tbody tr:hover {
    background-color: #ccc;
}

.squadre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.logo-classifica {
    width: 30px;
    height: auto;
    object-fit: cover;
}

.logo-classifica img {
    width: 100%;
    height: 100%;
}

.container-partite {
    /* display: flex;
    l
    gap: 32px;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.container-foto-b {
    /* width: 100%;
    height: auto; */
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    /* max-width: 580px; */
}

.container-foto-b img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.partita {
    max-height: 300px;
    /* max-width: 580px; */
    background-color: var(--color4);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* width: 400px;
    height: auto; */
}


.serieb img {
    max-width: 45px;
    height: auto;
    /* background-color: #0044cc; */
}

.container-incontro {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 15px 0; */
}

.container-squadra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.container-squadra .container-img {
    max-width: 70px;
    height: auto;
}

.container-img img {
    width: 100%;
    height: 100%;
}

.container-versus {
    font-size: 1.5rem;
    font-weight: bold;
    color: #595959;
    padding: 0 10px;
    font-family: "PT Serif", serif;
}

.data {
    font-size: 1rem;
    color: #6f6f6f;
    padding-bottom: 10px;
}

/* ------------------------------------------------------ ARTICOLI ----------------------------------- */
#articoli {
    background-color: #dcd2d2;
    padding: 60px 40px;
}

.container-articoli {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    row-gap: 50px;
    margin-top: 30px;
}

.article {
    background-color: var(--color4);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all .4s;
}

.article:hover {
    box-shadow: 0 4px 20px hsla(0, 0%, 14%, 0.8);
    transform: translateY(-15px);
}

.article-img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
    /* transition: transform .3s; */
}

/* .article-img img:hover {
    transform: scale(1.05);
} */

.article-corpo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-corpo h3 {
    margin: 10px 0;
    color: #424242;
    font-weight: bold;
    font-size: 1.4rem;
}


.article-corpo p {
    color: #555;
}

.article-corpo hr {
    margin-top: 5px;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.article a {
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color4);
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    width: 115px;
}

.view-all {
    margin-top: 60px;
    text-align: center;
}

.view-all a {
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--color1);
    color: var(--color4);
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.article a:hover,
.view-all a:hover {
    background-color: var(--hover-color);
}