@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&display=swap');

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --color1: #012589;
    --color2: #fcdf00;
    --color3: #eee3e3;
    --color4: #fff;
    --bradius: 20px;
    --hover-color: #0531a8;
    font-family: 'poppins', sans-serif;
    font-display: swap;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
    font-family: "Black Ops One", system-ui;
}

h3 {
    font-size: 1.5rem;
    font-family: "Black Ops One", system-ui;
    letter-spacing: 1.2px;
    color: var(--color1);
}

p {
    color: #535353;
    font-size: 1.05rem;
    line-height: 1.5;
}

.p-bold {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
}

/* Colore per il link attivo */
.navbar a.active {
    color: var(--color2);
}

.title-section {
    font-size: 2.4rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Black Ops One", system-ui;
    color: var(--color1);
    text-align: center;
    -webkit-text-stroke: 0.3px var(--color2);
}

#articoli hr {
    border: none;
    border-top: 2px solid #a8a8a8;
}

/*  ----------------------------------------------------- HEADER ------------------------------------ */
header {
    background-color: var(--color1);
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.navbar {
    color: var(--color4);
}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 4px 0;
}

.navbar-top img {
    height: 70px;
}

.navbar-center {
    text-align: center;
}

.navbar-title {
    font-size: 2.8rem;
    font-family: "Black Ops One", system-ui;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color2) !important;
}

.navbar-subtitle {
    font-size: 1.1rem;
    color: white;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #011d6b;
    padding: 15px 120px;
}

.navbar-menu a {
    color: var(--color4);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.95rem;
    position: relative;
}

.navbar-menu a:hover::after {
    content: "";
    display: block;
    height: 1.8px;
    background-color: var(--color2);
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
}

/* Mobile menu */
.nav-toggle {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 3rem;
    display: none;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

.close-menu {
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 3.4rem;
    cursor: pointer;
}

#check {
    display: none;
}

.menu {
    display: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

.menu-links a {
    color: var(--color4);
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu-links a:hover {
    color: var(--color2);
}

@media (max-width: 1200px) {
    header {
        padding: 0px 50px;
    }

    .nav-toggle {
        right: 50px;
        display: block;
    }

    .navbar-top {
        justify-content: left;
        gap: 30px;
    }

    .navbar-menu {
        display: none;
    }

    #check:checked~.menu {
        right: 0;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        transition: right 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 100px 30px;
        z-index: 200;
        background-color: #012589e4;
        backdrop-filter: blur(14px);
        transition: right 0.8s ease;
        overflow: auto;
    }

    .menu a {
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 16px 0;
        font-weight: bold;
    }

    #menu-link-contact {
        background-color: var(--color2);
        text-align: center;
        color: var(--color1);
        border-radius: 10px;
    }

    .custom-shape-divider-top-1731431830 .shape-fill {
        display: none;
    }

    .navbar-title {
        font-size: 2.2rem;
    }

    .navbar-top {
        gap: 20px;
    }

    .navbar-top img {
        height: 60px;
    }
}

@media (max-width: 900px) {
    header {
        padding: 4px 30px;
    }

    .nav-toggle {
        right: 30px;
        font-size: 4rem;
        top: 50%;
    }

    .close-menu {
        top: 51px !important;
    }

    .navbar-center {
        display: none;
    }

    #logo-dx {
        display: none;
    }

    .navbar-top img {
        height: 75px;
    }
}

@media (max-width: 500px) {
    header {
        padding: 4px 20px;
    }

    .nav-toggle {
        right: 20px;
    }

}

/* ----------------------------------------------- HOME ---------------------------------- */
#home-1 {
    padding-top: 132px;
    position: relative;
    height: 84vh;
}

.hero,
.hero-2 {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--color4);
    padding: 0 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
    z-index: 0;
}

.hero.show,
.hero-2.show {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.hero {
    background: url("images/Immagine\ WhatsApp\ 2025-05-04\ ore\ 18.15.49_61beec35.jpg") no-repeat center center/cover;

}

.hero-2 {
    background: url("femmine/DSC_0206.jpg") no-repeat center center/cover;
}

.home-article {
    margin-top: 30px;
    width: 310px;
    border-radius: var(--bradius);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 12px 4px;
    z-index: 100;
    background-color: #ffffffbd;
}

.home-article-corpo {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-article-corpo h3 {
    margin: 0 0 7px;
    color: #424242;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.home-article-corpo p {
    line-height: 1.2;
}

.home-article-corpo hr {
    margin-top: 5px;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.home-article a {
    padding: 8px 10px;
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 10px;
}

.prev,
.next {
    position: absolute;
    top: 73%;
    transform: translateY(-73%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 2;
    padding: 5px 15px;
    border-radius: 50%;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.prev {
    left: 10px;
    padding-right: 18px;
    padding-bottom: 8px;
}

.next {
    right: 10px;
    padding-left: 18px;
    padding-bottom: 8px;
}

@media (max-width: 1200px) {

    .hero,
    .hero-2 {
        top: 73px;
        padding: 0 50px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .home-article {
        margin-bottom: 30px;
        width: 100%;
        padding: 12px 4px;
    }

    #home-1 {
        height: 91vh;
    }

    .prev,
    .next {
        top: 63%;
        transform: translateY(-63%);
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 900px) {

    .hero,
    .hero-2 {
        padding: 0 30px;

    }
}

@media (max-width: 500px) {

    .hero,
    .hero-2 {
        padding: 0 20px;
    }

    .home-article {
        margin-bottom: 15px;
    }

    .home-article-corpo h3 {
        font-size: 1.15rem;
    }

    .title-section {
        font-size: 2rem;
    }
}

/* ------------------------------------------------------ ARTICOLI ----------------------------------- */
#articoli {
    background-color: var(--color3)
}

.container-articoli {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    row-gap: 50px;
}

.article {
    background-color: var(--color4);
    border-radius: var(--bradius);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.article-img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.article-corpo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-corpo h3 {
    margin: 7px 0;
    color: #424242;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    /* line-height: 3px; */
}

.article-corpo p {
    line-height: 1.2;
}

.article-corpo hr {
    margin: 10px 0;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.view-all {
    text-align: center;
    margin-top: 60px;
}

.view-all a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color1);
    color: var(--color4);
    padding: 12px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.article a:hover,
.view-all a:hover {
    background-color: var(--hover-color);
}

@media (max-width: 1200px) {
    #articoli {
        padding: 140px 50px 80px !important;
    }

    .container-articoli {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

}

@media (max-width: 900px) {
    #articoli {
        padding: 140px 30px 80px !important;
    }
}

@media (max-width: 500px) {
    #articoli {
        padding: 140px 20px 80px !important;
    }

    .container-articoli {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .container-corpo h3 {
        font-size: 1.15rem;
    }
}


/* ----------------------------------------------- CALENDARIO ----------------------------------------------- */
#calendario {
    padding: 200px 120px 60px;
    background-color: var(--color3);
}

@media (max-width: 1200px) {
    #calendario {
        padding: 120px 50px 70px !important;
    }
}

@media (max-width: 900px) {
    #calendario {
        padding: 120px 30px 70px !important;
    }
}

@media (max-width: 500px) {
    #calendario {
        padding: 120px 20px 70px !important;
    }

    .match-promo {
        padding: 20px 15px !important;
    }

    .match-promo h2 {
        font-size: 1.8rem !important;
    }
}

/* ----------------------------------------------- STRUTTURE ----------------------------------------------- */
#strutture {
    padding: 200px 120px 60px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: var(--color3);
}

.container-strutture {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    background-color: var(--color4);
    border-radius: var(--bradius);
    margin-bottom: 40px;
}

.tab {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 0;
}

.tab .container-img {
    width: 340px;
    height: 240px;
    overflow: hidden;
    border-radius: var(--bradius);
}

.tab .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 1;
}

.content h3 {
    font-weight: bold;
    margin-bottom: 6px;
}

.maps {
    margin-top: 20px;
}

.match-promo {
    background: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
    text-align: center;
    border-radius: var(--bradius);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

.match-promo h2 {
    font-size: 2rem;
    color: var(--color1);
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.match-promo p {
    font-size: 1.25rem;
    color: var(--color1);
    margin-bottom: 30px;
    font-weight: 700;
}


@media (max-width: 1200px) {
    #strutture {
        padding: 140px 50px 70px !important;
    }

    .tab .container-img {
        width: 30%;
        height: 300px;
    }
}

@media (max-width: 900px) {
    #strutture {
        padding: 140px 30px 70px !important;
    }

    .tab {
        flex-direction: column;
    }

    .tab .container-img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #strutture {
        padding: 140px 20px 70px !important;
    }

    .container-strutture {
        padding: 5px 20px 15px;
    }
}

/* ----------------------------------------------- SPONSOR ----------------------------------------------- */
#sponsor {
    padding: 200px 120px 60px;
    background-color: var(--color3);
}

.layout-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.layout-container h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.layout-container hr {
    margin-bottom: 12px;
    border: none;
    border-top: 2px solid #a8a8a8;
}

.gallery {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1;
    min-width: 200px;
    height: 150px;
    overflow: hidden;
    background-color: var(--color4);
    border-radius: var(--bradius);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#gallery-item-home {
    background-color: transparent;
    box-shadow: none;
}

.gallery-item:hover {
    transform: translateY(-4px);
}

#m-sponsor {
    min-height: 250px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1200px) {
    #sponsor {
        padding: 140px 50px 70px !important;
    }

    .layout-container h3 {
        margin-bottom: 25px;
    }
}

@media (max-width: 900px) {
    #sponsor {
        padding: 140px 30px 70px !important;
    }

    #iframe-maps {
        height: 100vh;
    }
}

@media (max-width: 500px) {
    #sponsor {
        padding: 140px 20px 70px !important;
    }

    .layout-container h3 {
        font-size: 1.8rem;
    }

}

/* ----------------------------------------------- CATEGORIE ----------------------------------------------- */
#categorie {
    padding: 200px 120px 60px;
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
    background-color: var(--color3);
}

.content-categorie h3 {
    text-align: left;
    margin-bottom: 5px;
}

.title-cat-p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
}

.container-categorie {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    background-color: var(--color4);
    border-radius: var(--bradius);
    margin-bottom: 40px;
}

.categorie {
    display: flex;
    align-items: center;
    gap: 30px;
}

.categorie .container-img {
    width: 150px;
    height: auto;
}

.categorie .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-categorie {
    flex: 1;
}

.content-categorie p {
    width: 80%;
    margin: 10px 0 20px;
}

.tuttocampo,
.maps {
    text-align: left;
    width: 100%;
}

.tuttocampo a,
.maps a {
    background: linear-gradient(to right, #012589, #2243aa, #012589);
    background-size: 200% auto;
    transition: background-position 0.4s ease;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
}

.tuttocampo a:hover,
.maps a:hover {
    background-position: right center;
}

@media (max-width: 1200px) {
    #categorie {
        padding: 140px 50px 70px !important;
    }

    .content-categorie p {
        width: 100%;
    }

}

@media (max-width: 900px) {
    #categorie {
        padding: 140px 30px 70px !important;
    }

    .categorie {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 500px) {
    #categorie {
        padding: 140px 20px 70px !important;
    }

    .title-cat-p {
        font-size: 1.7rem;
    }

    .categorie .container-img {
        width: 140px;
    }
}

/* ----------------------------------------------- STORIA ----------------------------------------------- */
#storia {
    width: 100%;
    padding: 200px 120px 80px;
    background-color: #dcd2d2;
}

.storia-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.storia-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}

.storia-image img {
    width: 470px;
    height: auto;
    border-radius: var(--bradius);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.storia-text {
    flex: 1;
}

.storia-text h2 {
    color: var(--color1);
    font-size: 2rem;
    margin-bottom: 10px;
}

.storia-block.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 1200px) {
    #storia {
        padding: 140px 50px 80px;
    }

    .storia-text h2 {
        font-size: 1.8rem;
    }

    .storia-image {
        width: 35%;
        height: 450px;
    }

    .storia-image img {
        width: 100%;
        height: 100%;
    }

    .contact-link,
    .contact-link-2 {
        padding: 10px 22px;
    }

    .call-to-action,
    .call-to-action-2 {
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    #storia {
        padding: 140px 30px 80px;
    }

    .storia-block {
        flex-direction: column;
        align-items: center;
    }

    .storia-block.reverse {
        flex-direction: column;
    }

    .storia-image {
        width: 100%;
        height: auto;
    }

    .storia-text {
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    #storia {
        padding: 140px 20px 80px;
    }

    .storia-text h2 {
        font-size: 1.6rem;
    }

}


@media (max-width: 450px) {
    .container-button {
        flex-direction: column;
        gap: 0 !important;
    }

    .contact-link,
    .contact-link-2 {
        width: 100%;
    }

    .call-to-action,
    .call-to-action-2 {
        width: 100%;
    }
}

/* ----------------------------------------------- SAFEGUARDING  ----------------------------------------------- */
#safeguarding {
    padding: 200px 120px 80px;
    background-color: var(--color3);
}

.contenuto-testa-sg h3 {
    font-size: 2rem;
    text-align: center;
}

.contenuto-testa-sg p {
    margin-top: 10px;
}

.contenuto-testa-sg,
#sottotitolo-sg {
    margin-top: 20px;
    font-size: 1.9rem;
}

.file-pdf,
.container-contatti,
.container-scuola {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 30px;
    gap: 20px;
}

.pdf,
.contatti,
.box-scuola {
    flex: 1;
    min-width: 200px;
    height: 150px;
    overflow: hidden;
    background-color: var(--color4);
    border-radius: var(--bradius);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom: 20px;
    transition: transform 0.3s ease !important;
}

.contatti {
    min-width: 400px !important;
}

.pdf:hover,
.contatti:hover {
    transform: translateY(-4px) !important;
}

.pdf i,
.contatti i {
    font-size: 4.5rem;
    padding-bottom: 15px;
}

.pdf span,
.box-scuola span,
.contatti span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.contenuto-testa-sg hr {
    border: none;
    border-top: 2px solid #a7a7a7;
    width: 100%;
    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    #safeguarding {
        padding: 140px 50px 70px !important;
    }
}

@media (max-width: 900px) {
    #safeguarding {
        padding: 140px 30px 70px !important;
    }
}

@media (max-width: 500px) {
    #safeguarding {
        padding: 140px 20px 70px !important;
    }

    .contenuto-testa-sg h3,
    #sottotitolo-sg h3 {
        font-size: 1.6rem !important;
    }
}

/* ----------------------------------------------- SCUOLA CALCIO ----------------------------------------------- */
#scuolacalcio {
    padding: 200px 120px 60px;
    background-color: var(--color3);
}

.content-scuola h3,
#pre-img {
    font-size: 2rem;
    text-align: center;
}

.box-scuola img {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: var(--bradius);
    margin-bottom: 15px;
}

#pre-img {
    margin-top: 40px;
}

.content-scuola hr {
    border: none;
    border-top: 2px solid #a7a7a7;
    width: 100%;
    margin-bottom: 8px;
}

.container-button {
    display: flex;
    align-items: center;
    gap: 25px;
}

.call-to-action,
.call-to-action-2 {
    text-align: center;
    margin-top: 20px;
}

.contact-link,
.contact-link-2 {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(to right, #012589, #2243aa, #012589);
    color: var(--color4);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    background-size: 200% auto;
    transition: background-position 0.4s ease;
    text-align: center;
}

.contact-link-2 {
    background: transparent !important;
    color: var(--color1);
    border: 2px solid var(--color1);
    padding: 12px 24px;
    transition: all 0.3s ease !important;
}

.contact-link:hover {
    background-position: right center;
}

.contact-link-2:hover {
    background: var(--color1) !important;
    color: #fff;
}

@media (max-width: 1200px) {
    #scuolacalcio {
        padding: 140px 50px 70px !important;
    }
}

@media (max-width: 900px) {
    #scuolacalcio {
        padding: 140px 30px 80px !important;
    }

    .container .box {
        flex-direction: column;
    }

    .container .box .dream {
        gap: 20px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    #scuolacalcio {
        padding: 140px 20px 80px !important;
    }
}

/* --------------------------------------------- SFONDO BLU ---------------------------------- */
.custom-shape-divider-top-1731431830 {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1731431830 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
}

.custom-shape-divider-top-1731431830 .shape-fill {
    fill: var(--color1);
    fill: #011d6b;
}

/* --------------------------------------------- CONTATTI ------------------------------------- */
#contatti {
    padding: 200px 120px 60px;
    background-color: var(--color3);
}

#contatti h3 {
    font-size: 2rem;
    text-align: center;
}

#contatti-home {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background: linear-gradient(to right, #0b2556, #011d6b);
    padding: 0 120px;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

#contatti-home img {
    border-radius: var(--bradius);
    width: 40%;
    height: 550px;
    object-fit: cover;
}

.text-box {
    width: 60% !important;
    background: var(--color4);
    padding: 60px 20px;
    border-radius: var(--bradius);
}

.text-box h2 {
    margin-top: 0;
    font-size: 2rem;
    color: var(--color1);
}



@media (max-width: 1200px) {
    #contatti {
        padding: 140px 50px 70px !important;
    }
}

@media (max-width: 900px) {
    #contatti {
        padding: 140px 30px 70px !important;
    }
}

@media (max-width: 500px) {
    #contatti {
        padding: 140px 20px 70px !important;
    }

    .contatti {
        width: 100% !important;
        min-width: 100% !important;
    }

    #contatti h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 1200px) {
    #contatti-home {
        padding: 0 50px;
    }

    #contatti-home img {
        width: 55%;
    }

    .text-box {
        padding: 30px 20px;
        width: 45% !important;
    }

    .text-box h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 900px) {
    #contatti-home {
        padding: 60px 30px;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    #contatti-home img {
        width: 100%;
        height: 370px;
    }

    .text-box {
        width: 100% !important;
        height: auto;
        padding: 15px 20px;
    }
}

@media (max-width: 500px) {
    #contatti-home {
        padding: 60px 20px;
    }

    #contatti-home img {
        width: 100%;
        height: 320px;
    }

    .text-box {
        width: 100% !important;
        height: auto;
        padding: 15px 20px;
    }

    .text-box h2 {
        font-size: 1.6rem;
    }

    .text-box p {
        padding-top: 6px !important;
        ;
    }
}

/* --------------------------------------------- FOOTER ------------------------------------- */
.loghi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color1);
    border-bottom: 1px solid var(--color3);
    padding: 14px 30px;
}

.loghi .container-logo {
    width: 70px;
    height: auto;
}

.loghi .container-logo img {
    width: 100%;
    height: 100%;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    width: 100%;
    background-color: var(--color1);
}

.footer-section {
    border-right: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section:last-child {
    border-right: none;
}

.footer-section h3 {
    margin-bottom: 12px;
    color: var(--color2);
    font-size: 1.5rem;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: left;
}

.footer-links li a {
    color: var(--color4);
    transition: color 0.3s ease;
    font-size: 1.1rem;
    font-weight: 400;
}

.footer-links li a:hover {
    color: var(--color2);
}

.link-servizi {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.container-footer-left,
.container-footer-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.link-servizi li {
    display: flex;
    align-items: center;
}

.link-servizi li a {
    display: flex;
    align-items: center;
    color: var(--color3);
    transition: color 0.3s ease;
    font-size: 1.1rem;
    font-weight: 400;
}

.link-servizi li a:hover,
.link-servizi li a i:hover {
    color: var(--color2);
}

.link-servizi li a i {
    font-size: 2rem;
    transition: color .3s;
    color: var(--color3);
    margin-right: 10px;
}

/* Footer Bottom */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color3);
    height: 100%;
    background-color: var(--color1);
}

.footer-by {
    text-align: center;
    padding: 5px 30px;
    color: var(--color3);
    background-color: #011d6b;
    word-spacing: 1.5px;
}


.footer-section p,
.footer-section a,
.footer-bottom p,
.footer-by p,
.footer-by a {
    color: var(--color3);
    transition: color 0.3s ease;
}

.footer-by a:hover {
    color: var(--color2);
}

@media (max-width: 900px) {
    .container-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 30px;
    }

    .loghi {
        justify-content: space-between;
    }

    .footer-section h3 {
        margin-top: 15px;
    }

    .footer-section {
        border-right: none;
        border-bottom: 1px solid var(--color3);
        padding-bottom: 20px;
    }

    .footer-section:last-child {
        border-bottom: none;
    }

    .footer-section:first-child {
        border-left: none;
    }

    .link-servizi {
        margin-top: 10px !important;
        gap: 80px;
    }
}

@media (max-width: 500px) {
    .container-footer {
        padding: 0 20px;
    }

    .loghi .container-logo {
        width: 60px;
        height: auto;
    }

    .link-servizi {
        gap: 30px;
    }
}

@media (max-width: 320px) {
    .link-servizi {
        gap: 10px;
    }
}




.article,
.storia-block,
.gallery,
.partita,
.container-strutture,
.container-categorie,
.dream-img,
.file-pdf,
.container-contatti {
    transform: translateY(50px) !important;
    transition: opacity 1.5s ease, transform 1.5s ease, box-shadow .3s ease !important;
    opacity: 0;
}

.visible {
    opacity: 1;
    transform: translateY(0) !important;
}